html
  head
    title Pokemon API
    link(rel="stylesheet" href="/styles/styles.css")
    script(src="/javascript/indexPugInteraction.js")

  body
    h1 Welcome to the Pokemon API
    div(class="main-container")

      include partials/leftSideDocumentation.pug

      include partials/rightSideDocumentaion.pug
